body{
    display: flex;
    justify-content: center;
}

.instagram{
    width: 20em;
    height: 20em;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    border-radius: 30%;
    position: relative;
}

.instagram::before{
    content: "";
    border: 1em white solid;
    border-radius: 30%;
    width: 12.5rem;
    height: 12.5rem;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;

}

.instagram::after{
    content: "";
    border: 1em white solid;
    border-radius: 150%;
    width: 5rem;
    height:5rem;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;

}

span{
    border: 1em white solid;
    border-radius: 150%;
    width: 0;
    height: 0;
    position: absolute;
    right: 5em;
    top: 5em;
    margin: auto;
}